<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <% include ../partials/test-db.ejs %>
  <script type="text/javascript">
    function productHtmlFromObject(nombre, descripcion, sector, rating) {
      var html = '';
      html += '<li>';
      // html += '<div>';
      html += '<p>' + nombre + ': ' + descripcion + '. ' + sector + '. Rating: ' + rating + '</p>';
      // html += '</div>';
      html += '</li>';
      return html;
    }
  </script>
</head>

<body>
  <% include ../partials/nav.ejs %>

  <div class="container">
    <h1>Lista de productos</h1>
    <p>Productos disponibles en la base de datos de <i>firebase</i></p>
    <ul id="products">
      
    </ul>
    <script type="text/javascript">
      firebase.database().ref('productos').once('value').then(function(snapshot) {
        for (var k in snapshot.val()) {
          document.querySelector('#products').innerHTML += productHtmlFromObject(
            snapshot.val()[k]['nombre'],
            snapshot.val()[k]['descripcion'],
            snapshot.val()[k]['sector'],
            snapshot.val()[k]['rating'])
        }
      });
    </script>
  </div>
</body>
</html>
